html {
    background-color: #777;
    text-align: center;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-color: #777;
    padding: 0px;
    margin: 0px;
}

header {
    color: #777;
    background-color: #ebebeb;
    padding: 25px;
    margin: 40px;
}

nav {
    color: #777;
    background-color: #ebebeb;
    padding: 20px;
    margin: 40px;
}

section {
    color: #777;
    background-color: #ebebeb;
    padding: 100px;
    margin: 40px;
    width: 495px;

}

    article {
        color: #ebebeb;
        padding: 40px;
    }
    
    h1{
        color: #777;
        background-color: #ebebeb;
        padding: 70px;
        margin: 40px;
        width: 300px;
    }
    
    p{
        color: #777;
        background-color: #ebebeb;
        margin: 40px;
    }


aside{
    color: #777;
    background-color: #ebebeb;
    float: right;
    margin: 40px;
    padding: 80px;
    width: 150px;
    height: 200px;
}


footer {
    color: #777;
    background-color: #ebebeb;
    padding: 10px; 
    margin: 40px;
}
